<h1>About us</h1>
<div class="row">
	<p class="col-xs-6">We will try very hard to test any assumptions with actual customer interviews and methods to extracting painful problems. Now if you do a bit of research on both of these ideas, you will find that the Unfortunately, finding these problems to begin with isn’t something we’re wired to do. Most people get frustrated with daily annoyances but move on. <br><br> When we think of money-making startup ideas, we tend to think of the fun, cool and glamorous ideas like AirBnB or Pinterest, but there’s also plenty of money to be made solving mundane ideas like clunky and ugly thermostats. The key is to find the right problems to solve in the first place.</p>
	<blockquote>
	<p class="col-xs-6">founders were annoyed with the existing implementations and set about to solve problems that occurred in their lives.</p>
	<small class="pull-left">Someone famous in <cite title="Source Title">Source Title</cite></small>
	</blockquote> 
</div>
<div class="row">

</div>