<div class="jumbotron center">
     <h1>modern, minimal elegant wedding site in minutes!</h1>
     <% if  user_signed_in? %>
     	<div ng-app="notes" ng-controller="NotesCtrl">
          <ul>
            <li ng-repeat="note in notes">
              {{note.title}}
              {{note.body}}
            </li>
          </ul>

          <form action="/api/notes" method="post">
            <input type="text" name="title" ng-model="title" />
            <input type="text" name="body" ng-model="body" />
          </form>
          <button ng-click="addNote()">Add</button>
        </div>
     <% else %>
	     <p>
	       <%= link_to "Log in", new_user_session_path, 
	       class: "btn btn-default btn-lg" %>
	       <%= link_to "Sign up", new_user_registration_path,
	        class: "btn btn-primary btn-lg" %>
	     </p>
	  <% end %>    
</div>
